<h1>Edit comment:</h1>

<form action="/comment-save/{{foundComment._id}}/pet/{{foundComment.pet._id}}" method="post">
    <label for="text">
        <textarea name="text" id="text" cols="60" rows="5">{{foundComment.text}}</textarea>
    </label>
        <p>commented by {{foundComment.user.name}}</p>

        <button type="submit">Save</button>
</form>

<form action="/comment/delete/{{foundComment._id}}" method="post">
    <button type="submit">Delete Comment</button>
</form>