<div class="userProfilesinAdmin">
    <a href="/profile/{{_id}}" class="hover-each-grid-box">
        <div>
            <img src="{{img}}" alt="user-profile-picture" class="img-admin-users">
        </div>
    </a>
    <div>
        <p>{{name}} {{lastName}}</p>
        <p>{{city}}</p>
            <button class="button open-button">Delete Profile</button>
            <dialog class="modal" id="modal">
                {{!-- <form method="post" action="/profile/delete/{{_id}}"> --}}
                    <p>Are you sure you want to delete the user?</p>
                    <button class="button close-button">No</button>
                    <button class="button submit-button">Yes</button>
                {{!-- </form> --}}
            </dialog>
    </div>
</div>