<div class="top-footer">
    <div class="container">
        <form action="/edit-pet-profile/{{foundPet._id}}" method="post" enctype="multipart/form-data">
            <div class="scroll-div">
                <div class="pet-name-background">
                    {{foundPet.name}}
                </div>
                <div class="pet-image">
                    <img src="{{foundPet.img}}" alt="image of the pet">
                </div>

                <div class="img-name-edit-filds">
                    <label for="img">new Img:
                        <input type="file" name="img" id="img" />
                        <input type="text" name="img" id="img" hidden value="{{foundPet.img}}">
                    </label>
                </div>

                <div class="pet-info">
                    <div>
                        <ul>
                            <li class="pet-info-li ">Pet's name:
                                <p class="dinamic-name">
                                    <label for="name">
                                        <input type="text" id="name" name="name" value="{{foundPet.name}}">
                                    </label>
                                </p>
                            </li>
                            <li class="pet-info-li ">Pet nickname:
                                <p class="dinamic-name">{{petInfo.nickname}}
                                    <label for="nickname">
                                        <input type="text" id="nickname" name="nickname" value="{{foundPet.nickname}}">
                                    </label>
                                </p>
                            </li>
                            <li class="pet-info-li ">Owner:<p class="dinamic-name">{{foundPet.user.name}} {{foundPet.user.lastName}}</p>
                            </li>
                            <li class="pet-info-li ">Votes:
                                <p class="dinamic-name">{{foundPet.votes}} /
                                    <label for="votes">
                                        <input type="radio" name="votes" id="votes" value="1">1
                                        <input type="radio" name="votes" id="votes" value="2">2
                                        <input type="radio" name="votes" id="votes" value="3">3
                                        <input type="radio" name="votes" id="votes" value="4">4
                                        <input type="radio" name="votes" id="votes" value="5">5
                                    </label>
                                </p>
                            </li>
                            <li class="pet-info-li ">Age:
                                <p class="dinamic-name">
                                    <label for="age">
                                        <input type="number" id="age" name="age" value="{{foundPet.age}}">
                                    </label>
                                </p>
                            </li>
                            <li class="pet-info-li ">Birthday:
                                <p class="birthday-dat-data dinamic-name">
                                    <label for="birthday">
                                        <input type="string" id="birthday" name="birthday" value="{{foundPet.birthday}}">
                                    </label>
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
                    
                    
            <div class="pet-description-comment edit-description">
                <label class="titles-pet edit-pet" for="description"> Description:
                    <textarea name="description" id="description" cols="50" rows="5">{{foundPet.description}}</textarea>
                </label>
                <div class="pet-ed-del-btns">
                    <button class="btn-pet barker-background" type="submit">Save</button>
                        {{!-- <form action="/pet/{{foundPet._id}}/delete" method="post">
                            <button class="btn-pet btn-text">Delete Profile</button>
                        </form> --}}
                </div>
            </div>
        </form>
    </div>
</div>      
{{> footerPartial }}