<h1>My profile</h1>

<p>Pet's name: {{petInfo.name}}</p>
<img src="{{petInfo.img}}" alt="image of the pet" style="height: 200px">

<p>I call my owner: bark-bark, but his human name is {{petInfo.user.name}} {{petInfo.user.lastName}}</p>

<p>Description: {{petInfo.description.text}}</p>

<form action="/comment/{{petInfo._id}}/user/{{user}}/description/{{petInfo.description._id}}" method="POST">
    <label for="text">
        <textarea name="text" id="text" cols="60" rows="5" placeholder="Leave a comment..."></textarea>
    </label>
    <br>
    <button type="submit">Comment</button>
</form>

<p>Comments:</p>
{{#each petInfo.comment}}
    <p>{{text}}</p>
    <p>commented by {{user.name}}</p>
    <br>
{{/each}}

<p>votes: {{petInfo.votes}}</p>
<button><a href="/edit-pet/{{petInfo._id}}">Edit Pet</a></button>
<br>
<br>
<form action="/pet/{{petInfo._id}}/delete" method="post">
    <button>Delete Pet</button>
</form>