<div class="container">

    <div class="scroll-div">
        <div class="pet-name-background">
            {{petInfo.name}}
        </div>
        <div id="img-div" class="pet-image">
                <img src="{{petInfo.img}}" alt="image of the pet">
        </div>

        <div class="pet-info">
            <div>
                <ul>
                    <li class="pet-info-li hover-pet-info-li">Pet's name:<p class="dinamic-name">{{petInfo.name}}</p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">Pet nickname:<p class="dinamic-name">{{petInfo.nickname}}
                        </p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">Owner:<p class="dinamic-name">{{petInfo.user.name}}
                            {{petInfo.user.lastName}}</p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">Votes:<p class="dinamic-name">{{petInfo.votes}}</p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">Age:<p class="dinamic-name">{{petInfo.age}} years</p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">Birthday:<p class="birthday-dat-data dinamic-name">
                            {{petInfo.birthday}}</p>
                    </li>
                </ul>
            </div>

            <div class="pet-ed-del-btns">
                {{#if isUser}}
                <button class="btn-pet"><a class="btn-text" href="/edit-pet/{{petInfo._id}}">Edit profile</a></button>

                {{!-- <button class="btn-pet btn-text">Delete profile</button>

                <dialog id="deleteBtnPet"> --}}
                    <form action="/pet/{{petInfo._id}}/delete" method="post">
                        <button class="btn-pet btn-text" type="submit">Delete profile</button>
                    </form>
                {{!-- </dialog> --}}

                {{/if}}
            </div>

        </div>
    </div>

</div>

    
<div class="pet-description-comment">

    <div class="pet-description ">
        <div class="titles-description-pet">
            <p class="titles-pet">Description:</p>
        </div>
        <div class="pet-description-title-info">
            <p class="title-info">{{petInfo.description}}</p>
        </div>
    </div>

   <div class="comment-form-div">
        <form action="/comment/{{petInfo._id}}/user/{{userId}}" method="POST">
            <label for="text">
                <textarea class="textarea-pet-comment" name="text" id="text" cols="60" rows="5" placeholder="Leave a comment here..."></textarea>
            </label>
            <button class="btn-pet barker-background" type="submit">Comment</button>
        </form>
   </div>

</div>


<div class="pet-comments-all">

    <div class="pet-comments-title">
        <p class="titles-pet">Comments:</p>
    </div>

    <div class="pet-comments">
        {{#each comment}}
            <div class="each-pet-comment">
                <div class="each-text-pet-comment">
                    <div class="comment-img-user">
                        <img src="{{user.img}}" alt="User's Img">
                        <p class="each-comment">{{text}}</p>
                    </div>
                    <div class="comment-try"> 
                        <p class="each-comment-by">Commented by:</p> 
                        <p>{{user.name}} </p>
                    </div>
                </div>
                <div class="edit-plus-comment-div">

                    {{#if isOwner}}
                    <div class="edit-btn" style="display: block;">
                            <button class="edit-btn btn-pet barker-background"><a class=" btn-text">Edit</a></button>
                    </div>
                    {{/if}}

                    <div class="comment-div" >
                        <h1>Edit comment:</h1>

                        <form action="/comment-save/{{_id}}/pet/{{pet._id}}" method="post">
                            <label for="text">
                                <textarea  class="textarea-comment-div" name="text" id="text" cols="60" rows="5">{{text}}</textarea>
                            </label>
                            <p class="comment-by-name">commented by: {{user.name}}</p>
                            <hr>
                            <button class="btn-pet save-comment-btn" type="submit">Save</button>     
                        </form>

                        <div class="comment-div-back-del-btn">
                            <button class="btn-pet back-comment-btn">
                                <a href="/pet-profile/{{pet._id}}">Back</a>
                            </button>

                            <form action="/comment/delete/{{_id}}" method="post">
                                <button class="btn-pet delete-comment-btn" type="submit">Delete Comment</button>
                            </form>
                        </div>                
                    </div> 

                </div>  {{!--  class = edit-plus-comment-div --}}
            </div>
        {{/each}}
    </div>

</div>

{{> footerPartial }}