<div class="view-all-pet-profile-top">
    <div class="all-profile-top">
        <h6 class="view-all-pet-profile-logo-title">PetGossip</h6>
        <h1 class="all-pet-profile-find">Find your friends</h1>
        <p class="all-pet-profile-find-text">Discover and connect with your pals effortlessly, staying in the loop not just with their furry companions but also with the fascinating folks who call them family. Your social circle just got a whole lot furrier and friendlier!</p>
    </div>
</div>

<div class="all-profiles">
    {{#each allPets}}
        <div class="all-prifles-each-box">
            <a href="/pet-profile/{{_id}}" class="hover-each-grid-box">
                <div class="all-profile-each-box-pic-of-pet-div">
                    <img  class="hover-image all-profile-each-box-pic-of-pet" src="{{img}}" alt="pet img">
                </div>

                <div class="all-profile-each-box-info-of-pet">
                    <div class="all-profile-each-box-info-of-pet-name into-pet-p">
                        <p>Name: <p class="hover-name">{{name}}</p></p>
                    </div>
                    <div class="all-profile-each-box-info-of-pet-owner into-pet-p">
                        <p>Owner: <p>{{user.name}}</p></p>
                    </div>
                    <div class="all-profile-each-box-info-of-pet-description into-pet-p">
                        <p>Description: <p>{{description}}</p></p>
                    </div>
                </div>
            </a>
        </div>
    {{/each}}
</div>

{{> footerPartial }}