<div>
    {{#if errMegDelete}}
        <p style="color: red">{{errMegDelete}}</p>
    {{/if}}

    {{#if errorMessage}}
        <br>
        <p style="color: red;">Sorry, you are not authorized to delete this user.</p>
    {{/if}}
</div>

<div class="container">
    <div class="scroll-div">
        <div class="pet-name-background">{{user.name}}</div>
        <div class="pet-image">
            <img src="{{user.img}}" alt="image of the user">
        </div>

        <div class="pet-info">
            <div>
                <ul>
                    <li class="pet-info-li hover-pet-info-li">Name:
                        <p class="dinamic-name">{{user.name}} {{user.lastName}}</p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">Username:
                        <p class="dinamic-name">{{user.username}}</p>
                    </li>
                    <li class="pet-info-li hover-pet-info-li">City:
                        <p class="dinamic-name">{{user.city}}</p>
                    </li>
                    <li class="pet-info-li hover-user-bio">Few words about mylsef:
                        <p class="dinamic-name dinamic-name-two">{{user.bio}}</p>
                    </li>
            
                </ul>
            </div>


            <div class="pet-ed-del-btns">
                <button  class="btn-pet">
                    <a class="btn-text" href="/edit-profile/{{user._id}}">Edit Profile</a>
                </button>

                {{!-- <form action="/profile/delete/{{user._id}}" method="POST">
                    <button class="btn-pet btn-text" type="submit">Delete Profile</button>
                </form> --}}
{{!-- Maybe  --}}
                {{!-- <button class="btn-pet btn-text">Delete profile</button>

                <dialog id="deleteBtnPet">
                    <form action="/pet/{{petInfo._id}}/delete" method="post">
                        <button class="btn-pet btn-text" type="submit">Delete profile</button>
                    </form>
                </dialog> --}}

                    <div class="backdrop"></div>
                    <div class="delete-modal">
                        <p class="modal-text">Please confirm if you really want to delete ?</p>
                        <div class="delete-model-actions">
                            <button type="button" class="btn-pet btn-text btn-cancel">No</button>
                            <form action="/profile/delete/{{user._id}}" method="post">
                                <button class="btn-pet btn-text btn-confirm" type="submit">Yes</button>
                            </form>
                        </div>
                    
                    </div>
                    
                    <div class="demo-container">
                        <div class="modal-control">
                            <button type="button" class="delete-button btn-pet btn-text">Delete Profile</button>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</div>



<div  class="user-profile-btn">
    <div class="user-pet-btn">
        <button class="btn-pet"><a class="btn-text" href="/view-all-pets">View All Pets</a></button>
        <button class="btn-pet"><a class="btn-text" href="/create-pet/{{user._id}}">Create Pet</a></button>
    </div>
    
    <p class="titles-pet">Your pets</p>

</div>


<div class="all-profiles user-profile-pets">
    {{#each foundPet}}
         <div class="all-prifles-each-box">
            <a href="/pet-profile/{{_id}}" class="hover-each-grid-box">
                <div class="all-profile-each-box-pic-of-pet-div">
                    <img  class="hover-image all-profile-each-box-pic-of-pet" src="{{img}}" alt="pet img">
                </div>   
                <div class="all-profile-each-box-info-of-pet">
                    <div class="all-profile-each-box-info-of-pet-name into-pet-p">
                        <p>Name: <p class="hover-name">{{name}}</p></p>
                    </div>
                    <div class="all-profile-each-box-info-of-pet-description into-pet-p">
                        <p>Description: <p>{{description}}</p></p>
                    </div>
                </div>          
            </a>  
        </div>
    {{/each}}
</div>

{{> footerPartial }}