<h1>User profile</h1>

{{#if errMegDelete}}
    <p style="color: red">{{errMegDelete}}</p>
{{/if}}

{{#if user}}
    <p>Hello, {{user.name}} {{user.lastName}}</p>
    <p>Welcome to our PetGossip comunity!</p>
{{/if}}

<br>

<p>img</p>
<img src="{{user.img}}" alt="image of the user" style="height: 200px">

<p>Name: {{user.name}} {{user.lastName}}</p>
<p>Username: {{user.username}}</p>
<p>City: {{user.city}}</p>
<p>Short Bio: {{user.bio}}</p>

<p>User's pets:</p>
{{#each user.pets}}
<p>Pet's name: {{name}}</p>
<p><a href="/pet-profile/{{_id}}"><img src="{{img}}" alt="image of the user" style="height: 100px"></a></p>
{{/each}}


<br>
<br>
<button><a href="/view-all-pets">View All Pets</a></button>
<button><a href="/create-pet/{{user._id}}">Create Pet</a></button>
<br>
<br>
<button><a href="/edit-profile/{{user._id}}">Edit {{user.name}}'s Profile</a></button>
<form action="/profile/delete/{{user._id}}" method="POST">
    <button type="submit">Delete {{user.name}}'s Profile</button>
</form>
